@media screen and (max-aspect-ratio: 1/1) {

/*mobile-v*/

body {
    
    margin: 0px;
    padding: 0;
    border: 0;
    background-color: #1e1a1a;  
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 55vw; 
    background-image: url(images/logo.svg); 
    background-repeat: no-repeat; 
}


#connect {
    position: absolute;
    bottom: 0;
    right: 0;  
    width: 40px;
    height: 40px;
    margin-right: 15vw;
    margin-bottom: 15vw;
      
}

#connectword {
    position: absolute;
    bottom: 0;
    right: 0;  
    width: 68px;
    height: 40px;
    margin-right: calc(15vw + 56px);
    margin-bottom: 15vw;
    background-image: url(images/connect_word.svg); 
    background-repeat: no-repeat; 
      
}

/*#connect_word {
    position: absolute; 
    width: 68px;
    height: 40px;
    background-image: url(images/connect_word.svg); 
    background-repeat: no-repeat; 
    background-color: red;  
}*/

button {
    width: 40px;
    height: 40px;
    background-image: url(images/connect_mobile.svg); 
    background-repeat: no-repeat; 
    outline: none;
    border: none;
} 
     
} 


@media screen and (min-aspect-ratio: 1/1) {

/*desktop-v*/

    
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1e1a1a; 
}

#title {
    position: absolute;
    top: calc(50% - 208px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 208px;
    height: 48px; 
    background-image: url(images/title.svg); 
    background-repeat: no-repeat; 
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 256px; 
    background-image: url(images/logo.svg); 
    background-repeat: no-repeat; 
}

#connect {
    position: absolute;
    bottom: 0;
    right: 0;  
    width: 120px;
    height: 36px;
    margin-right: 80px;
    margin-bottom: 72px; 
    
}

button {
    width: 120px;
    height: 36px;
    background-image: url(images/connect.svg); 
    background-repeat: no-repeat; 
    outline: none;
    border: none;
} 
        
    
}