/*mobile-v*/

body {
    
    margin: 0px;
    padding: 0;
    border: 0;
    background-color: #141c3a; 
    
}


#Chat {
    
    color: white;
    width: 256px;
    position: absolute;
    transform: translate(0, -58px);
    z-index: 1;
    text-align: center;
    font-size: 1.3em;
    font-family: rooney-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .04em;
}

#Connect {
    
    color: white;
    width: 256px;
    position: absolute;
    transform: translate(0, 128px);
    z-index: 2;
    text-align: center;
    font-size: 1.3em;
    font-family: rooney-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .04em;
}

#nav {
    
    margin: 0px;
    padding: 16px;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 168px; 
    background-color: #363d57; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
        
        
/*button {
    
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0em;
      border: none; 
      background-color: #363d57;   
      background-image: url(images/enter.svg);
      width: 64px;
      height: 88px;
      background-repeat: no-repeat;
      outline: none;
}*/  
    


@media screen and (min-aspect-ratio: 1/1) {

/*desktop-v*/

    
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1e1a1a; 
}

#title {
    position: absolute;
    top: calc(50% - 208px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 208px;
    height: 48px; 
    background-image: url(images/title.svg); 
    background-repeat: no-repeat; 
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 256px; 
    background-image: url(images/logo.svg); 
    background-repeat: no-repeat; 
}

#connect {
    position: absolute;
    bottom: 0;
    right: 0;  
    width: 120px;
    height: 36px;
    margin-right: 80px;
    margin-bottom: 72px; 
    
}

button {
    width: 120px;
    height: 36px;
    background-image: url(images/connect.svg); 
    background-repeat: no-repeat; 
    outline: none;
    border: none;
} 
        
    
}